# Dependencias de Node.js
node_modules/

# Archivos de configuración del entorno
.env

# Cachés y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Salidas de Cypress
cypress/videos/
cypress/screenshots/

# Archivos generados por Git
.git/
node_modules
